.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  width: 200px;
  height: 200px;
  background-color: purple;
  border-radius: 50%; /* This will make it a circle */
  border: none;
  cursor: pointer;
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s;
  font-size: 24px;
}

button:hover {
  background-color: #4b0082; /* This is the color code for indigo, which is a darker shade of purple */
}

button:active {
  transform: scale(0.95); /* Slight scaling effect when button is pressed */
}

.outlined-text {
  color: black;
  -webkit-text-stroke-width: 1px; /* Webkit browsers like Chrome, Safari */
  -webkit-text-stroke-color: white;
  text-stroke-width: 1px; /* In case this gets standardized in the future */
  text-stroke-color: white;
  font-weight: bold; /* Makes the font bolder */
}
