:root {
  --sparkle-size: min(calc(10px + 2vw), 40px);
}

.App {
  text-align: center;
  transition: background-color 1s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  width: 200px;
  height: 200px;
  background-color: purple;
  border-radius: 50%; /* This will make it a circle */
  border: none;
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s;
  font-size: 24px;
}

body, html {
  overflow: hidden;
}

button:hover {
  background-color: #4b0082; /* This is the color code for indigo, which is a darker shade of purple */
}

button:active {
  transform: scale(0.95); /* Slight scaling effect when button is pressed */
}

.outlined-text {
  color: black;
  font-weight: bold;
  text-shadow:
          1px 1px 0px white,
          -1px -1px 0px white,
          1px -1px 0px white,
          -1px 1px 0px white;
}

.sparkle {
  position: absolute;
  width: var(--sparkle-size);
  height: var(--sparkle-size);
  background-color: #fff;
  clip-path: polygon(50% 0%, 61% 35%, 100% 50%, 61% 65%, 50% 100%, 39% 65%, 0% 50%, 39% 35%);
  animation: sparkleAnimation 1.5s ease infinite;
}

@keyframes sparkleAnimation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}